textarea {resize:none}

.dz-preview {
	float:left;
	padding-right: 10px;
	margin-bottom: 10px
}
.dz-preview:not(:first-child) {
	padding-left: 10px
}
.dz-details {
	margin-bottom: 5px
}

.btn_delcar {
	margin-top:5px
}

.pagecontainer {
	margin-bottom: 20px
}

.greyrow {
	background-color: #f9f9f9
}

img.listimg {
	height: 60px
}
