.navbar {
	height: 80px;
}

.zetta-menu > li {
  height: 80px;
}

.zetta-menu > li > a {
  padding: 0 30px;
  line-height: 80px;
}

.zetta-menu > li:hover > a {
	color: #0465AB;
}

.btn-filled, .btn-filled-2 {
	color: #EFF9FC;
}

.single_box [class^="pe"] {
	color: #EFF9FC;
}

.single_box .box.dark {
	background-color: #0465AB;
}

.pricing-v1 .pricing-v1-header, .pricing-v1 .pricing-v1-header h4, .pricing-v1 .pricing-v1-header h5 {
	color: #EFF9FC;
}

li#lingue {
	margin-left: 15px;
}

li#lingue, li#lingue a {
	color: #0465AB;
}


li#lingue a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.parallax-bg-2 h2  {
	color: #EFF9FC;
}

.section-colored, .section-colored h2 {
	color: #fff;
}

.section-colored .owl-theme .owl-controls .owl-page span {
	background: #fff;
}

.section-colored .ju-btn-default.dark {
	color: #fff;
	background: transparent; 
	border-radius: 0px; 
	border: 1px solid #fff;
}
