.navbar {
	height: 80px;
}

.zetta-menu > li {
  height: 80px;
}

.zetta-menu > li > a {
  padding: 0 22px;
  line-height: 80px;
}

.zetta-menu > li:hover > a {
	color: #0465AB;
}

.btn-filled, .btn-filled-2 {
	color: #EFF9FC;
}

.single_box [class^="pe"] {
	color: #EFF9FC;
}

.single_box .box.dark {
	background-color: #0465AB;
}

.pricing-v1 .pricing-v1-header, .pricing-v1 .pricing-v1-header h4, .pricing-v1 .pricing-v1-header h5 {
	color: #EFF9FC;
}

li#lingue {
	margin-left: 15px;
}

li#lingue, li#lingue a {
	color: #0465AB;
}


li#lingue a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.parallax-bg-2 h2  {
	color: #EFF9FC;
}

.section-colored, .section-colored h2 {
	color: #fff;
}

.section-colored .owl-theme .owl-controls .owl-page span {
	background: #fff;
}

.section-colored .ju-btn-default.dark {
	color: #fff;
	background: transparent; 
	border-radius: 0px; 
	border: 1px solid #fff;
}

.section-colored .ju-btn-default.dark:hover {
	color: #0465AB;
	background: #fff; 
	border-radius: 0px; 
	border: 1px solid #fff;
}

.ju-btn-default:hover {
	color: #fff;
}

.social-icon-3 {
	color: #fff;
}

.cbp-l-caption-buttonLeft {
	cursor: pointer;
}

#footer { 
	padding: 75px 0 25px 0; 
}

@media screen and (max-width: 990px) {
	.zetta-menu {
		max-height: 85%;
		overflow-y: scroll;
	}

	.zetta-menu li > a {
		display: inline;
	}
}

/* menu 7 colonne */

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100% !important;
    *width: 100% !important;
    padding: 0 !important;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714% !important;
    *width: 14.285714285714285714285714285714% !important;
    padding: 0 !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714% !important;
    *width: 14.285714285714285714285714285714% !important;
    padding: 0 !important;
  }
}

li.sub_title {
	color: #0465AB;
	padding-left: 15px;
	min-height: 30px !important;
	padding-top: 5px;
	font-weight: 700;
}

.description a, .single_box_right a {
	font-weight: 700;
}

img.logo_small {
	width: 220px;
}
